---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'main';

// a {
//   color: #224b8d;
//   text-decoration: none;
// }

a:link {
  color: #Ff8800; // Pizazz
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #06307a; // Catalina Blue 
  background-color: transparent;
  text-decoration: none;
}

// mouse hanging
a:hover {
  color: #Ff9e00;  // orange peel
  background-color: transparent;
  text-decoration: underline;
}

// btw mouse click & release
a:active {
  color: #Ffb400; // Selective Yellow
  background-color: transparent;
  text-decoration: underline;
}
