---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'main';

//    FOLLOWING are all added myself

// a {
//   color: #224b8d;
//   text-decoration: none;
// }

// set colors of links
a:link {
  color: #eb7b33; // #d46f2e; // #b34600; // #Ff6400; // Blaze Orange             #Ff8800; // Pizazz
  background-color: transparent;
  text-decoration: none;
//   font-weight: bold;
}

a:visited {
  color: #06307a; // Catalina Blue                      #041255; // Gulf Blue                
  background-color: transparent;
  text-decoration: none;
//   font-weight: bold;
}

// mouse hanging
a:hover {
  color: #Ff8800; // Pizazz               #Ff9e00;  // orange peel
  background-color: transparent;
  text-decoration: underline;
//   font-weight: bold;
}

// btw mouse click & release
a:active {
  color:  #Ff9e00;  // orange peel             #Ffb400; // Selective Yellow
  background-color: transparent;
  text-decoration: underline;
//   font-weight: bold;
}
